<!DOCTYPE html>
<html>
  <head>
    <title>Create Account</title>
  </head>
  <body>
      <header>
          <h1>Create Account</h1>
          <br>
      </header>
      <form>
        <section>
          <div class="container">
            <label for="username"><b>Create Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <br>
            <label for="password"><b>Create Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <br>
            <label for="password2"><b>Retype Password</b></label>
            <input type="password" placeholder="Enter Password" name="password2" required>
            <br>
            <button type="submit" name="create_account" formmethod="post" value="True">Create Account</button>
          </div>
        </section>
      </form>
      <br>
  </body>
</html>
