<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
      <header>
          <h1>Welcome to Bananaman!</h1>
          <br>
      </header>

      <form>
        <button type="submit" value="True" name="signup" formmethod="POST" > Sign Up </button>
        <button type="submit" value="True" name="login" formmethod="POST" > Log In </button>
        <button type="submit" value="True" name="got_bananas" formmethod="POST" > Got Bananas? </button>
        <button type="submit" value="True" name="need_bananas" formmethod="POST" > Need Bananas? </button>
      </form>
      
      <p>Here at Bananaman, we strive to get our users the <i>best</i> bananas they can find for making banana bread everyone will <b>love</b>. Every year, thousands of over-ripe bananas wind up in our landfills. To solve this everyday problem, we are giving users a way to connect with those in need. If you have ripe bananas, make a post describing your bananas! If you need ripened bananas for your grandma's banana bread recipe, contact someone on the site! We hope you enjoy your stay.</p>
      
      <br>
      <div>
        <table>
            <th><b>ALL PRAISE THE BANANAMAN</b></th>
            <tr>
                <td><img src="/static/bananaCrown.jpg" height="200" width="250"></td>
            </tr>
            <tr>
                <td><img src="/static/bananaMan.PNG" height="250" width="250"></td>
            </tr>
        </table>
          
          <p>This user has given away over <i>4,534,962</i> bananas in the past 2 years! Way to go!</p>
    </div>
  </body>
</html>