{% extends '_base.html' %}
{% block header %}
  <div class="container center">
    <h1> Need Bananas? </h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=API_KEY"></script>

  <script>
    var searchInput = 'search_input';

    $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['geocode'],
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
            document.getElementById('loc_lat').value = near_place.geometry.location.lat();
            document.getElementById('loc_long').value = near_place.geometry.location.lng();

        });
    });

    $(document).on('change', '#'+searchInput, function () {
      document.getElementById('latitude_input').value = '';
      document.getElementById('longitude_input').value = '';

    });
  </script>
{% endblock %}
{% block content %}
<div class="container">
    <form enctype="multipart/form-data" action="" name="need_bananas">
      <section>

          <input type="hidden" id="loc_lat" name="loc_lat">
          <input type="hidden" id="loc_long" name="loc_long">

          <div class="form-group">
            <button type="submit" value="True" name="add_filter" data-toggle="collapse" data-target="#collapse_form" class="btn btn-primary">Add Filter</button>
            <br>
          </div>

          <div id="collapse_form" class="collapse">

            <div class="form-group">
              <label for="user_location"><b>Location</b></label><br>
              <input type="text" class="form-control" id="search_input" placeholder="Let us know where you are so we can find bananas near you!" name="user_location" required>
              <br>
            </div>

            <div class="form-group">
              <label for="radius"><b>Radius (mi)</b></label><br>
              <input type="number" class="form-control" id="radius_input" placeholder="How far are you willing to travel? (Enter number in miles)" name="radius_input" required>
              <br>
            </div>

            <div class="form-group">
              <button type="submit" value="True" name="submit_form" formmethod="POST" class="btn btn-primary">Apply Filters</button>
              <br>
            </div>
          </div>



      </section>
    </form>
    <br>
</div>



  <div class="album py-5">
    <div class="container">

      <!--<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">-->
      <div class="card-deck">
        <!--<div class="col">-->
        {% for i in list %}
          <div class="card shadow-sm">
            <!--  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Bananas" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Bananas</text></svg>
            -->
            <img class="card-img-top cover" style="object-fit: scale-down;" width="100%" height="225" src="{{ i.picture }}">
            <div class="card-body">
              <p class="card-text cardtext">{{ i.description }}</p>
              <hr/>
              <p class="card-text cardtext">{{ "Quantity: " + i.quantity + " Bananas" }}</p>
              <hr/>
              <p class="card-text cardtext">{{ "User: " + i.username }}</p>
              {% if i.distance != None %}
                <hr/>
                <p class="card-text cardtext">{{ i.distance}} miles away</p>
              {% endif %}
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Save</button>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ i.get_formatted_time() }}</small>
            </div>
          </div>
        {% endfor %}

        </div>
      </div>
    </div>

{% endblock %}
