{% extends '_base.html' %}
{% block header %}
  <div class="container center">
    <h1> Need Bananas? </h1>
  </div>

{% endblock %}
{% block content %}


  <div class="album py-5 bg-light">
    <div class="container">

      <!--<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">-->
      <div class="card-deck">
        <!--<div class="col">-->
        {% for i in list %}
          <div class="card shadow-sm">
            <!--  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Bananas" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Bananas</text></svg>
            -->
            <img class="card-img-top" src="{{ i.picture }}">
            <div class="card-body">
              <p class="card-text cardtext">{{ i.description }}</p>
              <p class="card-text cardtext">{{ i.quantity + " Bananas" }}</p>
              <p class="card-text cardtext">{{ i.username }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
                <small class="text-muted">{{ i.get_formatted_time() }}</small>
              </div>
            </div>
          </div>
        {% endfor %}

        </div>
      </div>
    </div>

{% endblock %}
