{% extends '_base.html' %}
{% block header %}
<div class="container center">
  <style>
    /* Set the size of the div element that contains the map */
    #map {
      height: 400px;
      /* The height is 400 pixels */
      width: 100%;
      /* The width is the width of the web page */
    }
  </style>

  <script>

    // Initialize and add the map
    function initMap() {
      // The location of Pittsburgh
      const pittsburgh = { lat: 40.4406, lng: -79.9959 };
      // The map, centered at Pittsburgh
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 10,
        center: pittsburgh,
      });


  {% for i in list %}


      // add marker - this part works
      var marker = new google.maps.Marker({
        position: { lat: {{ i.get_latitude() }}, lng: {{ i.get_longitude() }} }, //{ lat: -25.344, lng: 131.036 }
        map: map,
        data: {{ i.as_json() | safe }}
      });

      marker.addListener("click", () => {
        document.getElementById("description").innerText = {{ "`"  + i.description + "`" }};
        document.getElementById("quantity").innerText =  {{ "`" + i.quantity + " bananas " + i.get_formatted_availability() + "`" }};
        document.getElementById("username").innerText = {{ "`" + i.username + "`" }};
        document.getElementById("time").innerText = {{ "`" + i.get_formatted_time() + "`" }};
        document.getElementById("picture").src = {{ "`" + i.picture + "`" }};
        
        var click = document.getElementById("collapseButton");
        click.click();
        

      });


  {% endfor %}

    }


  </script>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <div class="form-group">
    <button type="submit" id="collapseButton" style="display: none" value="True" name="Expand" data-toggle="collapse" data-target="#collapse_form" class="btn btn-primary">Expand</button>
    <br>
  </div>
    <div class="card-deck" id="cardDeck">
        <div class="card" style="max-width: 45rem; min-width: 21rem;">
          <div id="map"></div>
        </div>

        <div id="collapse_form" class="collapse">
          <div class="card border-light bg-light" style="max-width: 45rem; min-width: 21rem;">
          <!--  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Bananas" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Bananas</text></svg>
          -->
           <img class="card-img-top cover" style="object-fit: scale-down;" width="100%" height="225" id="picture" src="">
           <div class="card-body">
             <p class="card-text cardtext" id="description">Description</p>
              <hr/>
              <p class="card-text cardtext" id="quantity">Quantity</p>
              <hr/>
              <p class="card-text cardtext" id="username">Username</p>

                  <div class="card-footer">
                    <small class="text-muted" id="time">Time</small>
                  </div>
            </div>
          </div>
        </div>
    </div>
</div>  
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap&libraries=&v=weekly=geometry"
      async
    ></script>

{% endblock %}
